$black: rgb(50, 50, 70);
$gray1: rgb(100, 100, 120);
$gray2: rgb(125, 125, 145);
$gray3: rgb(150, 150, 170);
$gray4: rgb(175, 175, 195);
$gray5: rgb(200, 200, 220);
$white: rgb(245, 245, 250);
$green: rgb(0, 200, 180);
